@use './styles/theme' as *;
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: $font-family-primary;
  line-height: $line-height-normal;
  font-weight: $font-weight-normal;

  color-scheme: dark;
  color: $color-text-primary;
  background-color: $color-bg-primary;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: $color-bg-primary;
  color: $color-text-primary;
}

#root {
  width: 100%;
  min-height: 100vh;
  background-color: $color-bg-primary;
}

a {
  color: inherit;
  text-decoration: none;
  transition: $transition-color;

  &:hover {
    color: $color-primary;
  }
}

button {
  font-family: inherit;
  cursor: pointer;
  transition: $transition-all;
  border: none;
  background: transparent;
}

input,
textarea {
  font-family: inherit;
  color: inherit;
}
